[submodule "vendor/normalize.css"]
	path = vendor/normalize.css
	url = https://github.com/necolas/normalize.css.git
[submodule "templates/post/public/css/spectre"]
	path = templates/post/public/css/spectre
	url = https://github.com/picturepan2/spectre.git
