<!-- off-screen toggle button -->
<a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
  <i class="icon icon-menu"></i>
</a>

<div id="sidebar-id" class="off-canvas-sidebar">
  <details class="accordion" open>
    <summary class="accordion-header">
      <i class="icon icon-arrow-right mr-1"></i>
      {{ siteTitle }}
    </summary>

    <div class="accordion-body">

    </div>
  </details>
</div>
