<!doctype html>
<html>
<head>
  {{#if title}}
  <title>{{ title }}</title>
  {{/if}}

  {{> meta }}
  {{> stylesheets }}

  {{> head }}
</head>

<body>
  <div class="docs-container off-canvas off-canvas-sidebar-show">
    {{> sidebar }}

    <div class="off-canvas-content">
      <div id="mdod-post" class="container grid-lg">
        {{> header }}

        <div class="columns">
          {{#if headerMD}}
          <div id="mdod-post-header-md" class="mdod-md">
            {{{ headerMD }}}
          </div>
          {{/if}}

          {{#if contentMD}}
          <div id="mdod-post-content-md" class="mdod-md">
          {{{ contentMD }}}
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  {{> footer }}
  {{> scripts }}
</body>
</html>
