<!doctype html>
<html>
<head>
  {{#if pageTitle}}
  <title>{{ pageTitle }}</title>
  {{/if}}

  {{> meta }}
  {{> stylesheets }}

  {{> head }}
</head>

<body>
  {{#if pageMarkdownHTML}}
  {{{ pageMarkdownHTML }}}
  {{/if}}

  {{> footer }}
  {{> scripts }}
</body>
</html>
