doctype html
html(lang='en')
  head
    title
      #{pageTitle}
    link(rel='stylesheet', href='https://raw.githubusercontent.com/miaoxingsoldier/markdown-it-github/master/lib/github.css')
  body
    #container.md-github__body
      #{pageContent}

  style(type='text/css').
    .md-github__body {
      min-width: 200px;
      max-width: 980px;
    }
